# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Simple Chat Bot (Java)/*
!/Simple Chat Bot (Java)/task/
/Simple Chat Bot (Java)/task/*
!/Simple Chat Bot (Java)/task/src

# Project exclude paths
/Topics/Relational operators/Check the value/out/
/Topics/Relational operators/Check the value/out/production/classes/
/Topics/The for-loop/Numbers divisible by six/out/
/Topics/The for-loop/Numbers divisible by six/out/production/classes/
/Topics/The for-loop/The count of numbers divisible by N/out/
/Topics/The for-loop/The count of numbers divisible by N/out/production/classes/
/Topics/The for-loop/The sum of integers from a to b/out/
/Topics/The for-loop/The sum of integers from a to b/out/production/classes/